@using Geonorge.Kartografi.Models
@using Geonorge.Kartografi.Services
@{ 
    List<SldRule> sldRules = new SldParser().Get(Model.fileUrl);
}

@if(sldRules != null)
{
    foreach(var sld in sldRules)
    {
        <div class="row">
            <div class="col-sm-12">
                <svg width="20" height="20">
                    @if (sld.WellKnownName == "circle")
                    {
                    <circle cx="10" cy="10" r="5" style="stroke: @sld.Stroke; fill: @sld.Fill;"/>
                    }
                    else
                    {
                        <rect width="20" height="20" style="fill:rgb(220,220,220);" />
                    }
                </svg>
                <span>@sld.Name</span>
            </div>
        </div>
    }
}