﻿@model Geonorge.Kartografi.Models.CartographyFile

@{
    ViewBag.Title = Model.Name;
}

@section breadcrumb {
    <li><a href="~/Files/">Digital kartografi og symboler</a></li>
    <li>@Model.Name</li>
}

<h2>@Model.Name</h2>

<a class="btn btn-default btn-space pull-right" href="~/Files/Edit/@Model.Id">Rediger</a>