@using Geonorge.Kartografi.Services
@model Geonorge.Kartografi.Models.CartographyFile

@{
    ViewBag.Title = "Detaljer";
}
@section breadcrumb {
    <li><a href="~/">Digital kartografi</a></li>
    <li><a href="~/Files/Details/@Model.SystemId">@Model.Name</a></li>
    <li>Detaljer</li>
}

<section class="heading">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                @Model.Name
            </h1>
        </div>
        <div class="col-sm-12">
            <span class="separator-lg"></span>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_FileData", Model)
    </div>

    <div class="col-sm-12 hidden-print">
        <hr />

        @if (ViewBag.HasAccess)
        {
            <a class="btn btn-default btn-space pull-right" href="~/Files/Edit/@Model.SystemId" style="margin-left: 15px;">Rediger</a>
            <a class="btn btn-default btn-space pull-right" href="~/Files/Delete/@Model.SystemId">Slett</a>
        }
        <a class="hidden-print" href="~/Files/Details/@Model.SystemId">Tilbake</a>

    </div>
</div>