a.sorted-asc:after {
    content: ' \25BC';
}

a.sorted-desc:after {
    content: ' \25B2';
}

#expand-all-button {
    display: block;
}

    #expand-all-button .button-text:before {
        display: inline-block;
        margin-left: 2px;
    }

    #expand-all-button.active .button-text:before {
    }


.arrow-icon {
    background-image: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/arrow-right.svg);
    width: 11px;
    height: 12px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
}

    .arrow-icon.active,
    .active > .arrow-icon {
        background-image: url(/Content/bower_components/kartverket-felleskomponenter/assets/images/svg/arrow-down.svg);
    }


.dataset-list {
    line-height: 24pt;
}

    .dataset-list .title-field {
        padding-left: 6px;
    }

.file-list {
    display: none;
}

    .file-list .title-field {
        padding-left: 24px;
    }

    .file-list .official-field {
        text-align: center;
    }

.dataset-list.active .file-list {
    display: block;
}


.file-list .file-list-item:nth-child(even) {
    background-color: #f8f9f9;
}


.legend-list-item {
    min-height: 75px;
}

    .legend-list-item svg,
    .legend-list-item img {
        height: 50px;
        width: 50px !important;
    }

    .legend-list-item .sld-name {
        height: 50px;
        display: table;
        width: calc(100% - 64px);
        width: -moz-calc(100% - 64px);
        width: -webkit-calc(100% - 64px);
        float: right;
    }

        .legend-list-item .sld-name span {
            vertical-align: middle;
            display: table-cell;
            line-height: 18px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: keep-all;
            word-break: break-word;
            -ms-hyphens: none;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

@media (max-width: 1199px) {
    .nav-tabs > li.pull-right {
        float: left !important;
    }
}

.cartography-metadata .cartography-metadata-name {
    display: block;
    font-weight: bold;
}
