a.sorted-asc:after {
    content: ' \25BC';
}
a.sorted-desc:after {
    content: ' \25B2';
}

.legend-list-item {
    padding-top: 2px;
    padding-bottom: 2px;
}

.legend-list-item svg,
.legend-list-item img {
    height: 50px;
    width: 50px!important;
}

.legend-list-item span{
    line-height: 50px;
    vertical-align: top;
    display: inline-block;
    margin-left: 8px;

}

@media (max-width: 1199px) {
    .nav-tabs > li.pull-right {
        float: left!important;
    }
}